<!--
 ________  ___  ___  ___  ___  ________  ________  ___  ___     
|\   ____\|\  \|\  \|\  \|\  \|\   __  \|\   ____\|\  \|\  \    
\ \  \___|\ \  \\\  \ \  \\\  \ \  \|\  \ \  \___|\ \  \\\  \   
 \ \  \    \ \   __  \ \  \\\  \ \   _  _\ \  \    \ \   __  \  
  \ \  \____\ \  \ \  \ \  \\\  \ \  \\  \\ \  \____\ \  \ \  \ 
   \ \_______\ \__\ \__\ \_______\ \__\\ _\\ \_______\ \__\ \__\
    \|_______|\|__|\|__|\|_______|\|__|\|__|\|_______|\|__|\|__|
 ________  ________                                             
|\   __  \|\  _____\                                            
\ \  \|\  \ \  \__/                                             
 \ \  \\\  \ \   __\                                            
  \ \  \\\  \ \  \_|                                            
   \ \_______\ \__\                                             
    \|_______|\|__|                                             
 ________  ________  ___      ___ _______                       
|\   ___ \|\   __  \|\  \    /  /|\  ___ \                      
\ \  \_|\ \ \  \|\  \ \  \  /  / | \   __/|                     
 \ \  \ \\ \ \   __  \ \  \/  / / \ \  \_|/__                   
  \ \  \_\\ \ \  \ \  \ \    / /   \ \  \_|\ \                  
   \ \_______\ \__\ \__\ \__/ /     \ \_______\                 
    \|_______|\|__|\|__|\|__|/       \|_______|-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title id="davequote2">The International Church of Dave</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>  
  <body>

    <div class="w3-bar w3-white">
  <a href="index.html" class="w3-bar-item w3-button w3-border-black w3-bottombar w3-hover-border-blue w3-mobile">Home</a>
      <div class="w3-dropdown-hover w3-hover-none w3-border-black w3-bottombar w3-hover-border-blue w3-mobile">
  <button class="w3-button">About</button>
  <div class="w3-dropdown-content w3-bar-block w3-border">
    <a href="about-dave.html" class="w3-bar-item w3-button">About Daveism</a>
    <a href="davenly-nine.html" class="w3-bar-item w3-button">The Davenly Nine</a>
    <a href="dave-rules.html" class="w3-bar-item w3-button">Rules of Daveism</a>
    <a href="bank-dave.html" class="w3-bar-item w3-button">Bank of Dave</a>
  </div>
</div>
         <div class="w3-dropdown-hover w3-hover-none w3-border-black w3-bottombar w3-hover-border-blue w3-mobile">
  <button class="w3-button">Texts of Dave</button>
  <div class="w3-dropdown-content w3-bar-block w3-border">
    <a href="daible" class="w3-bar-item w3-button">Daible</a>
    <a href="#" class="w3-bar-item w3-button">The Daily Dose of Dave</a>
    <a href="#" class="w3-bar-item w3-button">Rituals of Daveism</a>
    <a href="#" class="w3-bar-item w3-button">Bank of Dave</a>
  </div>
</div>
      <a href="daveish.html" class="w3-bar-item w3-button w3-border-black w3-bottombar w3-hover-border-blue w3-mobile w3-half">Daveish</a>
       <a href="contact-dave.html" class="w3-bar-item w3-button w3-border-black w3-bottombar w3-hover-border-blue w3-mobile w3-half">Contact</a>
    </div>
    <h1>The Church of Dave</h1>
    <center>
      <span id="davequote"></span>
      <p>
        
      </p>
    </center>
      <center>
      <div class="videoWrapper">
      <iframe src="https://spark.adobe.com/video/ixYbuamWOqqFf/embed"  width="600" height="300" frameborder="0" allowfullscreen></iframe>
      </div>
        </center>
  </body>
</html>