@import url('https://fonts.googleapis.com/css?family=Fresca&display=swap');

h1 {
font-family: 'Fresca', sans-serif;
text-align: center;
}
#davequote {
  color: blue;
  font-family: 'Fresca', sans-serif;
  font-size: 30px;
}
p {
  font-family: 'Fresca', sans-serif;
  font-size: 25px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    float: middle;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
  right: 0;
  margin-left: 125px;
  margin-right: 25px;
	width: 80%;
	height: 100%;
}